h1 {
}
header.main {
    background-color: var(--accent-bg);
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.main nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header.main nav ul li {
    display: inline-block;
    margin-right: 10px;
}

section.content {
    position: relative;
    padding-top: 20px;
}
